// Fonts
$font-family-body: "Iosevka Aile Web", sans-serif;
$font-family-mono: "Iosevka Web", monospace;
$font-family-tt: "Iosevka Web", monospace;
$font-size: 14px;
$line-height: 1.5;
$page-width: 48rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
$colors: "dark" // white dark light classic